.row {
  height: 100%;
}

.video-list {
  padding: 1%;
  border-radius: 3%;
  height: 93%;
  overflow-y: scroll;
}

.video-list::-webkit-scrollbar {
  display: none;
}

.video-list-general {
  height: 90%;
}

.course-editor {
  height: 100%;
}

.card {
  margin-bottom: 1%;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
}

.course-edit-button, .add-video-button {
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 1%;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
}

.course-edit-button a {
  text-decoration: none;
  color: #D9CCC5;
}

.add-video-button a {
  text-decoration: none;
  color: #D9CCC5;
}

.btn {
  margin: 0 1% 0 1%;
  width: 45%;
  outline: none;
  border: 0;
  color: white;
}

.btn-edit {
  background-color: #D9CCC5;
}

.btn-remove {
  background-color: #BF4949;
}

.btn-remove:hover{
  color: white;
}

.btn-remove:active {
  color: #BF4949;
}
