<div class="row">
  <div class="col course-editor">
    <router-outlet></router-outlet>
  </div>
  <div class="col video-list-general">
    <div class="course-edit-button">
      <h4><a routerLink="course/{{courseUid}}">Edit course information</a></h4>
    </div>
    <div class="add-video-button">
      <h4><a routerLink="video/new">Add new video</a></h4>
    </div>
    <div class="video-list">
      <div class="card" *ngFor="let video of videos">
        <div class="card-body">
          <h5 class="card-title">{{video.name}}</h5>
          <a routerLink="video/{{video.uid}}" class="btn btn-edit">Edit</a>
          <a  class="btn btn-remove" (click)="removeVideo(video.uid)">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>
