<div class="card mb-3 course-editor-block" *ngIf="course">
  <img [src]="image!=null?image:'https://www.w3schools.com/howto/img_avatar.png'" class="card-img-top" alt="...">
  <div class="card-img-overlay">
    <input style="display: none" type="file"  accept="image/jpeg,image/png" (change)="changePhoto($event)" #hiddenfileinput>
      <button (click)="hiddenfileinput.click()" class="photo-button" >Change photo</button>
  </div>
  <div class="card-body course-description">
    <input class="card-title " type=text [(ngModel)]="course.name"/>
    <app-ngx-editor [config]="editorConfig"  resizer="basic" [spellcheck]="true" [(ngModel)]="course.description"></app-ngx-editor>
    <button type = button class="btn btn-lg btn-block" (click)="saveCourseInfo()">Save</button>
  </div>
</div>
