.course-editor-block{
  height: 100%;
}

.course-description {
  overflow-y: auto;
  height: 50%;
}
.course-description p{
  height: 65%;
  text-overflow: clip;
}
.card{
  border: 0;
  margin-bottom: 1%;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
}

.card-title{
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #D9CCC5;
  width: 100%;
  outline: none;
}


.card-img-top{
  height: 50%;
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}
.btn{
  background-color: #D9CCC5;
  bottom: 0;
}
.card-img-overlay{
  padding: 0!important;
  height: 50%;
}

.photo-button{
  align-content: center;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  color: transparent;
  font-size: 3vh;
  outline: none;
  background-color: transparent;
}

.photo-button:hover{
  background-color: rgba(217, 204, 197, 0.5);
  color: white;
}
