.placeholders {
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
  height: 30%;
  margin: 1% 1% 2%;
  text-align: center;
}

.placeholders h4 {
  color: #593B38;
  margin-bottom: 0;
}

.placeholder {
  padding: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.ts-dashboard {
  color: #593B38;
  overflow-y: scroll;
  padding: 3%;
  height: 60%;
  width: 100%;
}

.ts-dashboard::-webkit-scrollbar {
  display: none;
}

.ts-dashboard-chart {
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
  margin: 2%;
  padding: 5%;
  background-color: #A67C6D;
}
