<!--Main statistic-->
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200"
         height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Courses</h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200"
         height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Videos</h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200"
         height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Tests</h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200"
         height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Lectures</h4>
  </div>
</div>
<!--user statistic-->
<div class="row ts-dashboard">
  <div class="col ts-dashboard-chart col-md-12">
   <app-registration-statistic></app-registration-statistic>
  </div>
  <div class="col ts-dashboard-chart col-md-12">
    <app-user-statistic></app-user-statistic>
  </div>
  <div class="col ts-dashboard-chart col-md-12">
    <div style="width: 100%; height: 200px">
      Hello world
    </div>
  </div>
  <div class="col ts-dashboard-chart col-md-12">
    <app-user-activity></app-user-activity>
  </div>
  <div class="col ts-dashboard-chart col-md-12">
    <app-user-activity></app-user-activity>
  </div>
</div>




