<div class="row course-card-list course-card row-cols-4 row-cols-md-4">
  <div class="col course-card mb-4" *ngFor="let course of courses"
       routerLink= '../course/{{course.uid}}'>
    <div class="card">
      <img [src]=getImage(course.uid) class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{course.name}}</h5>
        <p class="card-text">{{course.description}}</p>
      </div>
    </div>
  </div>
</div>
