<div class="card video-block" *ngIf="video">
  <video [src]="videoUrl"  class="embed-responsive embed-responsive-16by9" controls></video>
  <input style="display: none" type="file" accept="video/mp4,video/webm" (change)="updateFile($event)" #hiddenfileinput>
  <button (click)="hiddenfileinput.click()"  class="btn upload-btn">Change video</button>
  <div class="card-body video-description">
    <input class="card-title " type=text [(ngModel)]="video.name"/>
    <app-ngx-editor  [config]="editorConfig"  resizer="basic" [spellcheck]="true" [(ngModel)]="video.description"></app-ngx-editor>
    <button type = button class="btn btn-lg btn-block" (click)="saveVideoInfo()">Save</button>
  </div>
</div>
