.video-block {
  border: 0;
  height: 100% ;
}

.video-description {
  overflow-y: auto;
  height: 50%;
}

.video-description p{
  text-overflow: clip;
}

.card-title{
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #D9CCC5;
  width: 100%;
  outline: none;
}

.btn{
  background-color: #D9CCC5;
  bottom: 0;
}
.upload-btn{
  border: 0;
  outline: none;
  margin: 1%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 0;
  border-radius: 1%;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
