.container-fluid {
  height: 100%;
  padding: 5%
}

.teacher-room {
  height: inherit;
  background-color: #A6705D;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
  padding: 2%;
}

.row {
  height: inherit;
}

.course-list {
  height: 95%;
}

.course-items {
  border-radius: 1rem;
  padding: 2%;
  height: 92%;
  overflow: scroll;
}

.course-items::-webkit-scrollbar {
  display: none;
}

.card {
  margin-bottom: 2%;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
}

.card:hover {
  cursor: pointer;
  transition: .3s linear;
  box-shadow: 0 4px 7px 5px #A6705D;
}

.video-editor {
  padding: 1%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
}

.course-create-button {
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 1%;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
}

.course-create-button a {
  text-decoration: none;
  color: #D9CCC5;
}

.btn {
  margin: 0 1% 0 1%;
  width: 30%;
  outline: none;
  text-decoration: none;
  border: 0;
  color: white;
}

.btn-edit {
  background-color: #D9CCC5;
}

.btn-publish {
  background-color: #A6705D;
}

.btn-publish:hover {
  color: white;
}

.btn-publish:active {
  color: #593936;
}

.btn-remove {
  background-color: #BF4949;
}

.btn-remove:hover{
  color: white;
}

.btn-remove:active {
  color: #BF4949;
}

