<div class="container-fluid ">
  <div class="teacher-room">
    <div class="row">
      <div class="col-md-4 course-list">
        <div class="text-center h3">Course list</div>
        <div class="course-items" >
          <div class="card" *ngFor="let course of courses">
            <div class="card-body">
              <h5 class="card-title">{{course.name}}</h5>
              <a routerLink="course-editor/{{course.uid}}" class="btn btn-edit">Edit</a>
              <a class="btn btn-publish" (click)="publishCourse(course.uid)">Publish</a>
              <a class="btn btn-remove" (click)="removeCourse(course.uid)">Remove</a>
            </div>
          </div>
        </div>
        <div class="course-create-button">
          <h4><a routerLink="course-editor/new">Create course</a></h4>
        </div>
      </div>
      <div class="col-md-8 video-editor">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
