<div class="card mb-3" *ngIf="video">
  <video [src]="videoUrl" class="embed-responsive embed-responsive-16by9" controls></video>
  <div class="card-body video-description">
    <h5 class="card-title">{{video.name}}</h5>
    <p class="card-text  ">{{video.description}}</p>
  </div>
</div>
