body {
  height: 100vh;
  background-image: url("../../../assets/default/default3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-register {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(89, 57, 54, 1);
  margin-bottom: 25%;
  margin-top: 25%;
  font-family: Helvetica;
  color: #D9CCC5;

}

.card-register .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-register .card-body {
  padding: 2rem;
}

.form-register {
  width: 100%;
}

.invalid-input {
  color: red;
}

.btn-primary{
  color: #D9CCC5;
  background-color: #A67C6D;
  border-color: #A67C6D;
}
.btn-primary:hover{
  color: #D9CCC5;
  border-color: #A67C6D;
  background-color: #A67C6D;
}
