<div class="container-fluid">
  <div class="text-center h2 admin-panel-name">User management panel</div>
  <div class="row">
    <div class="col-md user-list">
      <div *ngIf="!emptyPage"><h4 class="text-center">System don't have users </h4></div>
      <div *ngIf="emptyPage" class="reglist">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ user.username}}</td>
            <td>{{ user.firstName}}</td>
            <td>{{ user.lastName}}</td>
            <td>{{ user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.createdDate}}</td>
            <td>
              <button type="button" class="btn btn-success" routerLink="articles" (click)="openUserCourseList(user)">
                Show user courses
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="onDelete(user)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="emptyPage" class="col-auto registration-panel">
      <button type="submit" class="btn btn-primary user-create-btn" (click)="onNew()">Create new user</button>
      <div class="regtry" *ngIf="showNew">
        <form (ngSubmit)="onSave()">
          <div class="form-group row">
            <label class="col-2 col-form-label">Username</label>
            <div class="col-10">
              <input class="form-control" type="text" [(ngModel)]="registrationUser.username" name="username">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Name</label>
            <div class="col-10">
              <input class="form-control" type="text" [(ngModel)]="registrationUser.firstName" name="name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Surname</label>
            <div class="col-10">
              <input type="text" class="form-control" name="surname" [(ngModel)]="registrationUser.lastName">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Email</label>
            <div class="col-10">
              <input class="form-control" type="email" [(ngModel)]="registrationUser.email" name="email">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Password</label>
            <div class="col-10">
              <input class="form-control" type="password" [(ngModel)]="registrationUser.password" name="password">
            </div>
          </div>
          <button type="submit" class="btn btn-success">Save</button>
          <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>


