.container-fluid {
  height: 100%;
  padding: 1%;
}

.user-list {
  margin-right: 1%;
  height: 90%;
  overflow-y: scroll;
  padding: 3%;
  background-color: #A67C6D;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
}

.user-list::-webkit-scrollbar {
  display: none;
}

.registration-panel {
  height: 90%;
  padding: 3%;
  background-color: #A67C6D;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
}

table th, td {
  border-bottom: 0;
  border-top: 0;
}

.row {
  height: 100%;
}

.user-create-btn {
  width: 100%;
}

.regtry {
  padding-top: 7%;
}
