.video-box {
  border-radius: 1rem;
  padding: 2%;
  background-color: #593B38;
  height: 85%;
}
.card{
  height: 100%;
}
.video-card-item{
  height: 100%;
}
.video-card-item-image{
  height: 100%;
}
.video-card-item-body{
  height: 100%;
}
.course-items{
  margin: 2%;
  width: 95%;
  height: 20%;
  border: 0;
}
.video-card-item-text{
  overflow: hidden;
  height: 2%;
  margin: 0;
}
.video-item-data{
  height: 100%;
}
.course-items:hover{
  cursor: pointer;
  transition: .3s linear;
  box-shadow: 0 4px 7px 5px #A6705D;
}
.video-block {
  height: 100% ;
}

.video-list {
  height: 100%;
  width: 100%;
}

.list {
  overflow-y: scroll;
  height: 100%;
}

.list::-webkit-scrollbar {
  display: none;
}
