<div class="row video-box">
  <div class="col-2 d-flex justify-content-center" *ngIf="course">
    <div class="card">
      <img [src]=getImage(course.uid) class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{course.name}}</h5>
        <p class="card-text text-justify">{{course.description}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="col-6 video-block">
    <router-outlet></router-outlet>
  </div>
  <div class="col-4 video-list">
    <div class="list">
      <!--      items-->
      <div class="card mb-3 course-items" style="max-width: 540px;"
           *ngFor="let video of videos"
            routerLink='video/{{video.uid}}'
      >
        <div class="row video-card-item">
          <div class="col-md-6 d-flex justify-content-center video-card-item-image">
            <img [src]=getVideoImage(video.uid)  class="card-img img-fluid"
                 style="max-width: 100%; height: auto"
                 alt="...">
          </div>
          <div class="col-md-6 video-item-data">
            <div class="card-body video-card-item-body">
              <h5 class="card-title">{{video.name}}</h5>
              <p class="card-text video-card-item-text">{{video.description}}</p>
              <p class="card-text"><small class="text-muted">Duration: {{video.duration}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
