body {
  /*font-family: "Lato", sans-serif;*/
}

.closebtn {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  font-size: 30px;
  width: 50px;
  cursor: pointer;
  background-color: rgba(256, 256, 256, 0);
  color: black;
  padding: 5px;
  border: none;
  transition: 0.3s;
  position: fixed;
}

.openbtn:hover {
  color: rgba(95, 56, 54, 1)
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(89, 57, 54, 1);
  transition: width .5s linear;
  padding-top: 5%;
  box-shadow:  10px 0 50px rgba(95, 56, 54, 1);
  font-family: Helvetica;
}

.account {
  padding-bottom: 50px;
}

.account img {
  margin: 10% 10% 0 5%;

}

#main {
  height: 100vh;
  background-image: url("../../../assets/default/default3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sd {
  width: 300px;
}

.sd a {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
  color: black;
  display: block;
  white-space: pre;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #A67C6D;
}




