<div id="mySidebar" class="sidebar">
  <a class="closebtn" (click)="closeNav()">×</a>
  <div class="account">
    <a routerLink="account" (click)="closeNav()">
      <img [src]="image!=null?image:defaultImage" class="rounded-circle" alt="Avatar" width="250" height="250">
    </a>
  </div>
  <div id="sd" class="sd">
    <a routerLink="gallery" (click)="closeNav()">
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      Home
    </a>
    <a routerLink="../admin" (click)="closeNav()">
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      Admin
    </a>
    <a routerLink="teacher" (click)="closeNav()">
      <i class="fa fa-file-text-o text-left" aria-hidden="true"></i>
      Teacher room
    </a>
    <a routerLink="about" (click)="closeNav()">
      <i class="fa fa-address-card-o" aria-hidden="true"></i>
      About
    </a>
    <a href="sign-in" (click)="logout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Sign out
    </a>
  </div>
</div>

<button id="openbtn" class="openbtn" (click)="openNav()">☰</button>
<div id="main">
  <router-outlet></router-outlet>
</div>
