.gallery {
  padding-left: 5%;
  padding-right: 5%;
  overflow: scroll;
  height: 100%;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.menu {
  font-family: Helvetica;
  text-align: center;
  width: 100%;
  height: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
  padding-right: 35%;
  padding-left: 35%;
}

.menu a {
  text-decoration: none;
  color: #593B38;
}

.menu a:hover {
  color: #A67C6D;
}

.course-card {
  height: 100%;
}

.card-img-top {
  height: 50%;
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}

.col {
  height: 50%;
}

.card {
  height: 100%;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
}

.card-body {
  height: 50%;
}

.card:hover {
  cursor: pointer;
  transition: .3s linear;
  box-shadow: 0 4px 7px 5px #A6705D;
}

.card-title {
  height: 25%;
}

.card-text {
  height: 70%;
  overflow: hidden;
}

