<div class="container-fluid gallery">
  <div class="row menu">
    <div class="col-sm header-menu"><h3><a routerLink="top">Top</a></h3></div>
    <div class="col-sm header-menu"><h3><a routerLink="all">All</a></h3></div>
    <div class="col-sm header-menu"><h3><a routerLink="my">My</a></h3></div>
    <div class="col-sm header-menu"><h3><a routerLink="history">History</a></h3></div>
  </div>
  <router-outlet></router-outlet>
</div>
