.container-fluid {
  padding-top: 5%;
}

.card-body {
  color: white;
  margin: 10%;
  box-shadow: 0 2px 4px 0 #A6705D;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  background-color: #593B38;
  box-shadow: 0 4px 7px 5px #A6705D;
}
