<div class="container-fluid">
  <div class="card mx-auto mb-3" style="max-width: 70%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <input
          style="display: none"
          type="file" (change)="selectFile($event)"
          #fileInput>
        <button class="btn" (click)="fileInput.click()">
          <img [src]="image!=null?image:defaultImage"
               class="card-img rounded-circle image" alt="...">
        </button>
      </div>
      <div class="col-md-8">
        <div class="card-body" *ngIf="user">
          <h5 class="card-title">{{user.username}}</h5>
          <h6>Name: {{user.firstName}}</h6>
          <h6>Surname: {{user.lastName}}</h6>
          <h6>Email: {{user.email}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
