<div class="container-fluid">
  <div class="text-center h2 admin-panel-name">Course management panel</div>
  <div class="search-panel">
    <input class="form-control" type="text" placeholder="Course name">
  </div>
  <div class="row course-list" *ngIf="emptyPage" >
    <div class="card" *ngFor="let course of courses">
      <div class="row">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{course.name}}</h5>
            <p class="card-text">{{course.description}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-right">
            <a routerLink="course-editor" class="btn btn-primary" >Edit videos</a>
            <a class="btn btn-danger" (click)="removeCourse(course.uid)">Remove</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
