.container-fluid{
  height: 100%;
  padding: 1%;
}
.search-panel{
  margin-top: 1%;
  padding: 1%;
}
.row{
  padding: 1%;
}
.card{
  margin-bottom: 1%;
  padding: 1%;
  width: 100%;
  background-color: #A6705D;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1);
  padding: 2%;
}
.course-list{
  height: 85%;
  overflow-y: auto;
}
.course-list::-webkit-scrollbar {
  display: none;
}
