<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin ">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
            <div class="form-label-group">
              <input type="email"
                     id="inputEmail"
                     class="form-control"
                     placeholder="username"
                     name="email"
                     [(ngModel)]="form.username"
                     #username="ngModel"
                     [ngClass]="{'is-invalid ': f.submitted && username.invalid}"
                     required
              >
            </div>
            <div *ngIf="f.submitted && username.invalid" class="invalid-input">
              <div *ngIf="username.errors?.required">Username is required</div>
            </div>

            <br>
            <div class="form-label-group">
              <input type="password"
                     id="inputPassword"
                     class="form-control"
                     placeholder="Password"
                     name="password"
                     [(ngModel)]="form.password"
                     #pass="ngModel"
                     [ngClass]="{'is-invalid':f.submitted && pass.invalid}"
                     required
                     minlength="3"
              >
            </div>
            <div *ngIf="f.submitted && pass.invalid" class="invalid-input">
              <div *ngIf="pass.errors?.required">Password is required</div>
              <div *ngIf="pass.errors?.minlength">Password is too small (at least 8 characters)</div>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in
            </button>
            <div class="text-center">or</div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                    routerLink="/sign-up">Sign Up
            </button>
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
              Login failed: {{errorMessage}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
