.admin-panel{
  font-family: Helvetica;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../../assets/default/default3.jpg");
}

.menu {
  /*font-size: 200%;*/
  padding-top: 5%;
  margin-right: 1%;
  background-color: #A6705D;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1)
}
.menu a{
  font-min-size: 5%;
  text-decoration: none;
  color: #593B38;
  display: block;
}
.row{
  padding: 2%;
  height: 100%;
}
.menu-content {
  height: 100%;
  background-color: #A6705D;
  border-radius: 1rem;
  box-shadow: 2px 0px 7px 2px rgba(95, 56, 54, 1)
}

