<div class="container-fluid admin-panel">
  <div class="row">
    <div class="col-auto menu">
      <div id="sd" class="sd">
        <h4><a routerLink="../navigation"><i class="fa fa-home"></i> Home</a></h4>
        <h4><a routerLink="dashboard"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Dashboard</a></h4>
        <h4><a routerLink="course-management"><i class="fa fa-file-text-o" aria-hidden="true"></i> Manage courses</a></h4>
        <h4><a routerLink="user-management"><i class="fa fa-users" aria-hidden="true"></i> Manage users</a></h4>
        <h4><a routerLink="data-management"><i class="fa fa-database"></i> Manage data</a></h4>
        <h4><a routerLink="../sign-in"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a></h4>
      </div>
    </div>
    <div class="col-md menu-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
