<div class="row">
  <p>Students</p>
  <div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0"
         aria-valuemax="100" style="width:15%">15%
    </div>
  </div>

  <p>Teachers</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0"
         aria-valuemax="100" style="width:30%">30%
    </div>
  </div>

  <p>Users</p>
  <div class="progress">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8" aria-valuemin="0"
         aria-valuemax="100" style="width:8%">8%
    </div>
  </div>
</div>
