<div class="container-fluid">
  <div class="card  mx-auto mb-3" style="max-width: 70%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/avatars/default/creator.jpg" class="card-img rounded-circle "
             alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Develop by Volodymyr Bakuro</h5>
          <p class="card-text">
            <br>
            <a href="https://www.instagram.com/vova.bakuro/"><h6>Instagram</h6></a>
            <br>
            <a href="https://www.linkedin.com/in/volodimir-bakuro/"><h6>LinkedIn</h6></a>
            <br>
            <a href="https://github.com/ColdStep"><h6>GitHub</h6></a>
            <br>
            <a href="https://bitbucket.org/%7B01e6e290-c39f-481c-828c-a83a2146cbf8%7D/"><h6>Bitbucket</h6></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
