.container-fluid {
  color: white;
  padding-top: 10%;
}

.card {
  background-color: #593B38;
  box-shadow: 0 4px 7px 5px #A6705D;
}

.rounded-circle {
  max-width: 70%;
  margin: 10%;
}

.card-text a {
  text-decoration: none;
  color: #A6705D;
}

.card-text a:hover {
  color: #D9CCC5;
}
